In [2]:
import pandas as pd

In [3]:
data = pd.read_csv("openaq.csv", sep=";")
data.dropna()

,Country Code,City,Location,Coordinates,Pollutant,Source Name,Unit,Value,Last Updated,Country Label
0,AE,Abu Dhabi,Bida Zayed,"23.652199, 53.70379",NO2,adairquality-ae,µg/m³,9.550000,2024-04-05T10:00:00+02:00,United Arab Emirates
1,AE,Liwa,Liwa,"23.09569, 53.60639",PM10,adairquality-ae,µg/m³,57.000000,2024-04-05T10:00:00+02:00,United Arab Emirates
2,AE,Abu Dhabi,Mussafah,"24.34715, 54.5028",SO2,adairquality-ae,µg/m³,3.380000,2024-04-05T10:00:00+02:00,United Arab Emirates
3,AE,Abu Dhabi,Mussafah,"24.34715, 54.5028",NO2,adairquality-ae,µg/m³,53.940000,2024-04-05T10:00:00+02:00,United Arab Emirates
4,AE,Abu Dhabi,Al Mafraq,"24.28697, 54.58610000000001",NO2,adairquality-ae,µg/m³,50.680000,2024-04-05T10:00:00+02:00,United Arab Emirates
...,...,...,...,...,...,...,...,...,...,...
24703,NL,DEN HAAG,Den Haag-Bleriotlaan,"52.039022999667914, 4.35937600003218",PM10,eea,µg/m³,3.150000,2024-04-05T09:00:00+02:00,Netherlands
24705,NL,POSTERHOLT,Posterholt-Vlodropperweg,"51.11919399960078, 6.042398999552771",NO2,eea,µg/m³,4.390000,2024-04-05T09:00:00+02:00,Netherlands
24706,NL,Antwerpen,42R831 - BERENDRECHT,"51.34879529214735, 4.339709947084943",O3,eea,µg/m³,42.000000,2024-01-12T05:00:00+01:00,Netherlands
24707,NO,Moss,Kransen,"59.43347099955378, 10.661762360232748",PM10,eea,µg/m³,2.479444,2024-04-05T10:00:00+02:00,Norway
24708,NO,Oslo,Ring 3 Økern,"59.92845400000001, 10.801863000000003",PM10,Norway,µg/m³,91.599258,2024-04-05T10:00:00+02:00,Norway

In [4]:
coordinates = data['Coordinates'].str.split(',', expand=True)
data['Latitude'] = coordinates[0].astype(float)
data['Longitude'] = coordinates[1].astype(float)

data.drop('Coordinates', axis=1, inplace=True)

In [5]:
new_order = ['Last Updated', 'Value', 'Pollutant', 'Longitude', 'Latitude', 'City']
data = data[new_order]

In [6]:
data.to_csv('reorganized_openaq.csv', index=False)

In [7]:
data = pd.read_csv("reorganized_openaq.csv", sep=",")
data

,Last Updated,Value,Pollutant,Longitude,Latitude,City
0,2024-04-05T10:00:00+02:00,9.550000,NO2,53.703790,23.652199,Abu Dhabi
1,2024-04-05T10:00:00+02:00,57.000000,PM10,53.606390,23.095690,Liwa
2,2024-04-05T10:00:00+02:00,3.380000,SO2,54.502800,24.347150,Abu Dhabi
3,2024-04-05T10:00:00+02:00,53.940000,NO2,54.502800,24.347150,Abu Dhabi
4,2024-04-05T10:00:00+02:00,50.680000,NO2,54.586100,24.286970,Abu Dhabi
...,...,...,...,...,...,...
24704,2024-04-05T09:00:00+02:00,22.350000,PM10,4.329430,51.914883,NaN
24705,2024-04-05T09:00:00+02:00,4.390000,NO2,6.042399,51.119194,POSTERHOLT
24706,2024-01-12T05:00:00+01:00,42.000000,O3,4.339710,51.348795,Antwerpen
24707,2024-04-05T10:00:00+02:00,2.479444,PM10,10.661762,59.433471,Moss
24708,2024-04-05T10:00:00+02:00,91.599258,PM10,10.801863,59.928454,Oslo

In [8]:
data['Last Updated'] = pd.to_datetime(data['Last Updated'], utc=True).dt.tz_convert(None)
data = data.dropna()

In [9]:
data.rename(columns={'Last Updated': 'Date'}, inplace=True)

C:\Users\diogo\AppData\Local\Temp\ipykernel_6980\4162127782.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data.rename(columns={'Last Updated': 'Date'}, inplace=True)

In [10]:
# Extraire les composantes de la date
data['Jour'] = data['Date'].dt.day
data['Mois'] = data['Date'].dt.month
data['Année'] = data['Date'].dt.year
data['Heure'] = data['Date'].dt.hour
data['Minutes'] = data['Date'].dt.minute

C:\Users\diogo\AppData\Local\Temp\ipykernel_6980\2069068881.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['Jour'] = data['Date'].dt.day
C:\Users\diogo\AppData\Local\Temp\ipykernel_6980\2069068881.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['Mois'] = data['Date'].dt.month
C:\Users\diogo\AppData\Local\Temp\ipykernel_6980\2069068881.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['Année'] = data['Date'].dt.year
C:\Users\diogo\AppData\Local\Temp\ipykernel_6980\2069068881.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['Heure'] = data['Date'].dt.hour
C:\Users\diogo\AppData\Local\Temp\ipykernel_6980\2069068881.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['Minutes'] = data['Date'].dt.minute

In [13]:
pollutant_dummies = pd.get_dummies(data['Pollutant'], prefix='Pollutant')

print(pollutant_dummies.head())

   Pollutant_BC  Pollutant_CO  Pollutant_NO  Pollutant_NO2  Pollutant_NOX  \
0         False         False         False           True          False
1         False         False         False          False          False
2         False         False         False          False          False
3         False         False         False           True          False
4         False         False         False           True          False

   Pollutant_O3  Pollutant_PM1  Pollutant_PM10  Pollutant_PM2.5  Pollutant_SO2
0         False          False           False            False          False
1         False          False            True            False          False
2         False          False           False            False           True
3         False          False           False            False          False
4         False          False           False            False          False

In [14]:
data = pd.concat([data, pollutant_dummies], axis=1)

data.drop('Pollutant', axis=1, inplace=True)

print(data.head())

                 Date  Value  Longitude   Latitude       City  Jour  Mois  \
0 2024-04-05 08:00:00   9.55   53.70379  23.652199  Abu Dhabi     5     4
1 2024-04-05 08:00:00  57.00   53.60639  23.095690       Liwa     5     4
2 2024-04-05 08:00:00   3.38   54.50280  24.347150  Abu Dhabi     5     4
3 2024-04-05 08:00:00  53.94   54.50280  24.347150  Abu Dhabi     5     4
4 2024-04-05 08:00:00  50.68   54.58610  24.286970  Abu Dhabi     5     4

   Année  Heure  Minutes  Pollutant_BC  Pollutant_CO  Pollutant_NO  \
0   2024      8        0         False         False         False
1   2024      8        0         False         False         False
2   2024      8        0         False         False         False
3   2024      8        0         False         False         False
4   2024      8        0         False         False         False

   Pollutant_NO2  Pollutant_NOX  Pollutant_O3  Pollutant_PM1  Pollutant_PM10  \
0           True          False         False          False           False
1          False          False         False          False            True
2          False          False         False          False           False
3           True          False         False          False           False
4           True          False         False          False           False

   Pollutant_PM2.5  Pollutant_SO2
0            False          False
1            False          False
2            False           True
3            False          False
4            False          False

In [16]:
columns_to_convert = ['Pollutant_BC', 'Pollutant_CO', 'Pollutant_NO', 'Pollutant_NO2', 'Pollutant_NOX', 'Pollutant_O3', 'Pollutant_PM1', 'Pollutant_PM10', 'Pollutant_PM2.5', 'Pollutant_SO2']

for col in columns_to_convert:
    data[col] = data[col].replace({True: 1, False: 0})

print(data)

                     Date      Value  Longitude   Latitude        City  Jour  \
0     2024-04-05 08:00:00   9.550000  53.703790  23.652199   Abu Dhabi     5
1     2024-04-05 08:00:00  57.000000  53.606390  23.095690        Liwa     5
2     2024-04-05 08:00:00   3.380000  54.502800  24.347150   Abu Dhabi     5
3     2024-04-05 08:00:00  53.940000  54.502800  24.347150   Abu Dhabi     5
4     2024-04-05 08:00:00  50.680000  54.586100  24.286970   Abu Dhabi     5
...                   ...        ...        ...        ...         ...   ...
24703 2024-04-05 07:00:00   3.150000   4.359376  52.039023    DEN HAAG     5
24705 2024-04-05 07:00:00   4.390000   6.042399  51.119194  POSTERHOLT     5
24706 2024-01-12 04:00:00  42.000000   4.339710  51.348795   Antwerpen    12
24707 2024-04-05 08:00:00   2.479444  10.661762  59.433471        Moss     5
24708 2024-04-05 08:00:00  91.599258  10.801863  59.928454        Oslo     5

       Mois  Année  Heure  Minutes  Pollutant_BC  Pollutant_CO  Pollutant_NO  \
0         4   2024      8        0             0             0             0
1         4   2024      8        0             0             0             0
2         4   2024      8        0             0             0             0
3         4   2024      8        0             0             0             0
4         4   2024      8        0             0             0             0
...     ...    ...    ...      ...           ...           ...           ...
24703     4   2024      7        0             0             0             0
24705     4   2024      7        0             0             0             0
24706     1   2024      4        0             0             0             0
24707     4   2024      8        0             0             0             0
24708     4   2024      8        0             0             0             0

       Pollutant_NO2  Pollutant_NOX  Pollutant_O3  Pollutant_PM1  \
0                  1              0             0              0
1                  0              0             0              0
2                  0              0             0              0
3                  1              0             0              0
4                  1              0             0              0
...              ...            ...           ...            ...
24703              0              0             0              0
24705              1              0             0              0
24706              0              0             1              0
24707              0              0             0              0
24708              0              0             0              0

       Pollutant_PM10  Pollutant_PM2.5  Pollutant_SO2
0                   0                0              0
1                   1                0              0
2                   0                0              1
3                   0                0              0
4                   0                0              0
...               ...              ...            ...
24703               1                0              0
24705               0                0              0
24706               0                0              0
24707               1                0              0
24708               1                0              0

[18010 rows x 20 columns]

C:\Users\diogo\AppData\Local\Temp\ipykernel_6980\1566856976.py:4: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  data[col] = data[col].replace({True: 1, False: 0})

In [17]:
data.reset_index(drop=True, inplace=True)
data

In [19]:
data.to_csv('AQI.csv', index=False)